doctype html
html
  head
    script(type='text/javascript', src='/script/libs/flexible.js')
    script(type='text/javascript', src='/script/libs/vue.js')
    script(type='text/javascript', src='/script/libs/zepto.min.js')
    script(type='text/javascript', src='/script/libs/cookie.js')
    script(type='text/javascript', src='/script/libs/fastclick.js')
    script(type='text/javascript', src='/script/libs/baiduTemplate.js')
    link(rel='stylesheet', href='/style/lib/normalize.css')
    link(rel='stylesheet', href='/style/lib/flexible.css')
    link(rel='stylesheet', href='/style/base.css')
    block head
  body
    block content
